#screen{
    position: absolute;
    background-color: lightgray;
    height: 282px;
    width: 346px;
    left: 7%;
    top: 4%;
    border: 3px solid black;    
}

#side-menu , #display {
    vertical-align: top;
    display: inline-block;
    z-index: 2;
    height: 100%;
    width: 50%;
    background-color: white;
}

h2{
    margin-left: 23%;
}

#list {
    list-style: none;
}

#list li{
    display: block;
    height: 52.5px;
    width: 165px;
    margin-left: -25%;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 12px 15px;
    box-sizing: border-box;
}

#list i {
    float: right;
    color: white;
    margin-top: 4px;
}

.active {
    background-color: #529aec;
    color: white;
}

#display{
    background-image: url('https://previews.123rf.com/images/grigoriy123/grigoriy1231812/grigoriy123181202841/113726058-scenery-of-trees-in-a-beautiful-park.jpg');
    background-position: center;
}