#grey-box{
    background-color: transparent;
    height: 270px;
    width: 350px;
    position: absolute;
    top: 53%;
    left: 7%;
}

#white-circle{
    border-radius: 50%;
    height: 270px;
    width: 270px;
    position: absolute;
    background-color: white;
    z-index: 2;
    left: 11.5%;
}

.button {
    height: 78px;
    width: 78px;
    /* background-color: yellow; */
    position: absolute;
}

.btn-name{
    position: absolute;
    left: 23%;
    top: 35%;
    color: grey;
    font-size: 1.2rem;
}

#menu{
    top:3%;
    left: 35%;
}

#rewind{
    top: 38%;
    left: 3.5%;
}

#forward{
    top: 38%;
    right: 3%;
}

#centre{
    top: 33%;
    left: 34%;
    height: 90px;
    width: 90px;
    background-color: lightgray;
    border-radius: 50%;
}

#play-pause{
    /* height: 75px; */
    top: 67%;
    left: 35%;
}